body {
    margin: 0;
    font-family: "VCR OSD Mono", monospace; /* Apply custom font */
    background-color: #ffffff;
}

/* ================ HEADER =================== */

#header {
    display: flex;
    background-color: #913a3a;
    height: fit-content;
}

#img-header {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    flex: 1;
}

#img-header a img {
    width: 65%;
    max-width: 30rem;
}

#links-header {
    display: flex;
    align-items: center;
}

#links-header a {
    text-decoration: none;
    color: #ffca00; /* Link color */
    font-size: 1.75rem;
    padding: 0.5rem 2.5rem; /* Add padding to links */
    transition: color 0.75s ease;
}

#links-header a#steamLink{
    font-weight: bolder;
    color: #ff6000;
    text-decoration: underline;
    font-size: 1.75rem;
    padding: 0.5rem 2.5rem; /* Add padding to links */
    transition: color 0.75s ease;
}

.links a:hover {
    color: #ff8800; /* Darker blue on hover */
}

.weapons div{
    padding: 20px;
    margin-bottom: 2em;
}
#piercer {
    border: solid dodgerblue 2px;
}

#marksman {
    border: solid lawngreen 2px;
}

#sharpshooter {
    border: solid darkred 2px;
}