:root {
    --titles-color: #f40a2b;
    --link-color: #ffca00;
    --link-hovered-color: #ff6a00;
}

body {
    margin: 0;
    font-family: "VCR OSD Mono", monospace; /* Apply custom font */
    background-color: #ffffff;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center top; 
    background-attachment: fixed;

}

/* ================ HEADER =================== */

#header {
    display: flex;
    position: fixed;
    background-color: #913a3a;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5em;
    z-index: 1;
}

#img-header {
    flex: 1;
}

#img-header a img {
    padding-left: 10%;
    height: 2.5em;
}

#links-header {
    display: flex;
    align-items: center; /*Putting them in the center*/
    justify-content: right;
    flex: 8;
}

#links-header a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--link-color);
    font-size: 2rem;
    padding-right: 4%;
    transition: color 0.75s ease;
}

#links-header a#steamLink{
    font-weight: bolder;
    color: var(--link-hovered-color);
    text-decoration: underline;
    padding-right: 1%;
    transition: color 0.75s ease;
}

#links-header a:hover {
    color: var(--link-hovered-color);
    transition: color 0.75s ease;
}


/* ============= index.html ============ */

#bgIndex {
    background-image: url('../images/indexbackground.jpg'); /*different background image using an ID cause i don't plan on using it anywhere else*/
}

.contentContainer{
    margin: 0 10% 3rem;
    top: 8em;
    width: 80%;
    position: relative;
    z-index: 0;
    background: rgba(65, 78, 74, 0.75);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    
    backdrop-filter: blur( 24px );
    -webkit-backdrop-filter: blur( 24px );

    border: solid rgb(0, 0, 0) 4px;
    border-radius: 15px;
}

.contentContainer p{
    padding: 0px 50px; /*normally it would be [top right bottom left] but here it is [top-bottom left-right]*/
    font-family: sans-serif;
    text-align: justify;
    font-size: 1.4em;
    color: aliceblue;
}

.contentContainer p.title {         /*format for the title of the different sections*/
    text-align: center;
    padding-top: 20px;
    font-family: "VCR OSD Mono", monospace;
    text-transform: uppercase;
    font-size: 2.2em;
    color: var(--titles-color);
}

.ultrakill{
    font-family: "VCR OSD Mono", monospace;
    text-transform: uppercase;
    font-weight: bold;
}

#hakitaIntro {
    text-align: center;
    padding: 0;
    font-family: "VCR OSD Mono", monospace;
    text-transform: uppercase;
    font-size: 2.2em;
    color: var(--titles-color);
}

.link {
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.75s ease;
}

.link:hover {
    color: var(--link-hovered-color)!important;
}

.frontPageImage {
    margin-left:20%;
    padding-bottom: 2em;
    z-index: 1;
    max-width: 60%;
    border-radius: 5em
}

/* ============= levels.html ============ */

.bgLevels {
    background-image: url('../images/test.gif');
}

#backgroundBlackout {
    position: absolute;
    top: 5em;
    width: 45%;
    margin-left: 27.5%;
    background-color: black;
}

#actSelectTitle {
    text-align: center;
    text-transform: uppercase;
}

#chapter {
    margin-bottom: 0em;
    text-align: center;
    font-size: 3rem;
    color: white;
}

#difficult {
    text-align: center;
    margin-top: 0;
    margin-bottom: 3.5em;

    font-size: 2rem;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.goldenBox {     /* Meant for chapters that are finished and P-rankable */
    display: flex;
    align-items: center;
    margin: 22.4px 7.5%;

    padding: 5px 2px 5px 10px;
    height: 40px;

    background-color: #b87f00;
    border: solid #b87f00 4px;
    border-radius: 4px;

    color: white;
    font-size: 1.65em;
}

div.goldenBox a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px 5px 10px;
    width: 96.5%;
    height: 100%;
}

div.rank {
    display: flex;
    align-items: center;

    padding: 2px 10px;

    font-size: 32px;
    line-height: 32px;

    background-color: #F3A800;
    border: black solid 1px;
    border-radius: 5px;
}

.goldenBox:hover {
    background-color: #7a5400;
    border: solid #7a5400 4px;
}

.actIcon {
    width: 1.2em;
    right: 0;
    margin-right: 10px;
    border: solid white 2px;
    border-radius: 5px;
}

div.blackBox {     /* Mostly for the act 3 and the boxes afterwards */
    display: flex;
    align-items: center;

    height: 40px;
    margin: 22.4px 7.5%;
    padding: 5px 0px 5px 10px;

    font-size: 1.65em;
    color: white;

    background-color: #000000;
    border: solid #ffffff 4px;
    border-radius: 4px;
}

div.blackBox a {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 96.5%;
    height: 100%;

    padding: 5px 0px 5px 10px;
}

.blackBox:hover {
    border: solid #5e5d5c 4px;
}

div.emptyBox {
    display: flex;
    align-items: center;
    padding: 0px 8px;

    line-height: 32px;
    font-size: 32px;

    background-color: #000000;
    border: #ffffff solid 5px;
    border-radius: 5px;

}

#primeSanctumBox {
    margin-top: 6rem;
}

#sandbox {
    margin-bottom: 2.5em;
}

/* ============= levels/* ============= */

#difficultyText {
    position: relative;
    top: 3em;

    background-color: rgba(0, 0, 0, 0.4);

    text-align: center;
    color: white;
    font-size: 2em;

}

#difficultyText p {
    margin-top: 0;
    padding: 0.5em 0;
}

.layerBox {
    position: relative;

    margin-bottom: 2em;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    top: 1.5em;

    font-size: 4em;

    border-radius: 8px;


    background-color: #b87f00;
    color: white;
}

.title {
    margin: 0;
}

.levelBoxAlignment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

hr{
    height: 2px;
    color: white;
    background-color: white;
}

.straightLine {
    margin-left: 15px;
    margin-right: 15px;
}


.levelBox {
    flex: 1;
    margin: 0.5%;

    font-size: 0.35em;
    text-align: center;

    border-radius: 5px;
    border: solid rgb(37, 37, 37) 1px;
    background-color: #ffae00;
}

.unknown {
    background-color: #000000 !important;
    border: solid rgb(0, 0, 0) 1px;;
}

.levelBox p.levelTitle {
    font-size: 0.85em;
    font-weight: bolder;
}

.thumbnailFormat {
    margin: 0;
    max-height: 200px;
    padding-bottom: 10px;
}

.levelInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.75em;
}

.levelInfo p {
    margin: 15px;
}

/* ================ popCulture.html ============== */
#popCultureBG {
    background-image: url('../images/ballin.jpg '); /*different background image using an ID cause i don't plan on using it anywhere else*/
}

/* ================== weapons.html ================== */

#weapons{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 5em;

    border: white solid 5px;
    background-color: rgba(0, 0, 0, 0.90);
    color: white;
}

#weaponTypes {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    width: 450px;
    padding-top: 1em;
}

#weaponTitle{
    text-align: center;
    font-size: 3rem;
    color: white;
    margin: 0;
    padding-bottom: 1.8em;
}

#weaponCategories a {
    justify-content: center;
    padding: 0;
    width: 100%;
    text-transform: uppercase;
}

#weaponCategories div {
    margin-top: 5px;
    margin-bottom: 0;
}

#weaponCategories div#arms {
    margin-top: 3em;
    margin-bottom: 2em;
}

#weaponContainer {
    display: flex;
    flex-direction: row;

    width: 66em;
    margin: 2em;

    border: white solid 5px;
}

#weaponContainer img {
    /* Scale down the image*/
}

/*TO DO:
    - Scale down the image
    - Align to the center the items
    - flex the items correctly
    follow the guide at 'images/basicIdea.png'
 */

/*SIDE BAR

.weaponTypeSelection {
    position: fixed;
    display: flex;
    flex-direction: column;

    left: 0;
    top: 5em;
    height: 100%;
    width: 450px;

    background-color: rgba(0, 0, 0, 0.69);
    border: white solid 4px;

    z-index: -1;
}

#weaponTitle {
    text-align: center;
    font-size: 3rem;
    color: white;
    margin-bottom: 1.25em;
}

div.weaponType {
    padding: 2px 0;
    margin-bottom: 0;
    margin-top: 5px;
}

div#armsType {
    padding: 2px 0;
    margin-bottom: 0;
    margin-top: 2.5em;
}

div.weaponType a {
    justify-content: center;
    padding: 0;
    width: 100%;
    text-transform: uppercase;
}

/* WEAPON DESCRIPTION

#weaponDescriptions {
    display: flex;
    position: relative;
    flex-direction: column;

    left: 454px;
    top: 5em;
    padding: 1em;

    z-index: -1;
    background-color: rgba(0, 0, 0, 0.79);
    border: white solid 4px;
    color: white;
}

*/





.blue-borders {
    border: solid dodgerblue 2px;
    border-radius: 15px;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 3em;
}

.green-borders {
    border: solid lawngreen 2px;
    border-radius: 15px;
    margin: 2em 3em;
}

.red-borders {
    border: solid rgb(206, 2, 2) 2px;
    border-radius: 15px;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 3em;
}

.description{
    position: relative;
    z-index: 0;
    padding: 10px;  /* this adds the background blur onto the text so its readable while still having the image in the background */

    background: rgba(79, 79, 79, 0.75);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

    backdrop-filter: blur( 24px );
    -webkit-backdrop-filter: blur( 24px );

    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 15px;
}

.description p {

    color: azure;
    margin: 20px;
    font-size: 1.25em;
}

.image {
    position: relative;
    float: right;
    border-bottom: inherit;
    border-left: inherit;
    border-bottom-left-radius: inherit;
    margin-left: 20px;
    margin-bottom: 20px;
    z-index: 1;
}

.image img{
    position: relative;
    padding-top: 15px;
    padding-right: 15px;
    width: 350px;
    height: 175px;
    margin: 20px;
    z-index: 1;
}

/*
.primaryGun{
    max-width: 150px;
    max-height: 75px;
    padding-left: 0;
}


.alternateGun{
    max-width: 150px;
    max-height: 75px;
    scale: 75%;
}
*/